
body {
  margin: 0;
  display: flex;
  background-color: #1c5e86;
  color: #c6e89a;
  font-family: "Voltaire", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.start-button {
  font-size: 6rem;
  padding: 0;
  margin: 0;
  text-align: center;
  width: 100%;
  user-select: none;
  pointer-events: none;
}

#controls {
  position: absolute;
  bottom: 20px;
  min-width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

#controls div {
  display: grid;
  grid-template-columns: 50px 50px 50px;
  gap: 10px;
}

#controls button {
  width: 100%;
  height: 40px;
  background-color: white;
  border: 1px solid lightgray;
  box-shadow: 3px 5px 0px 0px rgba(0, 0, 0, 0.75);
  cursor: pointer;
  outline: none;
}

#controls button:first-of-type {
  grid-column: 1/-1;
}

#controls button:last-of-type {
  grid-column: 1/-1;
}

#depth {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 2em;
  user-select: none;
}

#start-screen {
  width: 100%;
  height: 100vh;
  background-color: #4292b9;
  position: absolute;
  display: flex;
  align-items: center;
  transition: opacity 1s;
}